/*body {
  background-image: url('../img/shoe.jpg');

text-decoration-color: red;
}

.navbar {
  /*background-image: url('../img/shoe.jpg');*/
  /*background-position: center;
  min-height: 280px;
}
.nav-text {
  font-size: 2em;
  color: white;
  text-decoration-color: white;
/*}*/
